.DS_Store
data/.DS_Store
icpc/.DS_Store
icpc/icpc2010.aux
icpc/icpc2010.log
icpc/icpc2010.pdf
icpc/latex8.aux
icpc/latex8.log
icpc/latex8.pdf
icpc/latex8.synctex.gz
icpc/latex8.tex
src/exp2-neil/README
src/exp2-neil/lda.report
src/exp2-neil/names.py
src/exp2-neil/output
src/exp2-neil/quickcount.sh
src/exp2-neil/quickreport.sh
src/exp2-neil/wordlist.efficiency
src/exp2-neil/wordlist.functionality
src/exp2-neil/wordlist.maintainability
src/exp2-neil/wordlist.portability
src/exp2-neil/wordlist.reliability
src/exp2-neil/wordlist.usabilitydata/maxdb-lda.report.xml
data/maxdb-lda.report2.xml
data/mysql-3.23.lda.report.xml
data/maxdb-lda.report.xml
src/exp2-neil/
icpc/icpc2010.bbl
data/mysql-tagged/.1003979404.xml.swp
data/sources/
icpc/icpc2010.blg
icpc/icpc2010.out
icpc/icpc2010.synctex.gz
icpc/texput.log
src/validate/bookmarks.rar
weka-report/