.DS_Store
*.pyc
y.DS_Store
data/.DS_Store
icpc/.DS_Store
icpc/icpc2010.aux
icpc/icpc2010.log
icpc/icpc2010.pdf
icpc/latex8.aux
icpc/latex8.log
icpc/latex8.pdf
icpc/latex8.synctex.gz
icpc/latex8.tex
src/exp2-neil/README
src/exp2-neil/lda.report
src/exp2-neil/names.py
src/exp2-neil/output
src/exp2-neil/quickcount.sh
src/exp2-neil/quickreport.sh
src/exp2-neil/wordlist.efficiency
src/exp2-neil/wordlist.functionality
src/exp2-neil/wordlist.maintainability
src/exp2-neil/wordlist.portability
src/exp2-neil/wordlist.reliability
src/exp2-neil/wordlist.usabilitydata/maxdb-lda.report.xml
data/maxdb-lda.report2.xml
data/mysql-3.23.lda.report.xml
data/maxdb-lda.report.xml
src/exp2-neil/
icpc/icpc2010.bbl
data/mysql-tagged/.1003979404.xml.swp
data/sources/
icpc/icpc2010.blg
icpc/icpc2010.out
icpc/icpc2010.synctex.gz
icpc/texput.log
src/validate/bookmarks.rar
weka-report/
data/global-lda-w-added-stopwords/.picasa.ini
data/global-lda-w-stopwords/.picasa.ini
data/global-lda-wo-stopwords/.picasa.ini
data/maxdb-lda-report.zip
data/postgresql-tagged.zip
icpc/#todo.org#
icpc/.picasa.ini
icse/icse2011 (ontogeny's conflicted copy 2010-08-08).log
icse/icse2011.aux
icse/icse2011.bbl
icse/icse2011.blg
icse/icse2011.dvi
icse/icse2011.fdb_latexmk
icse/icse2011.log
icse/icse2011.out
icse/sig-alternate.aux
icse/sig-alternate.cls
icse/sig-alternate.dvi
icse/sig-alternate.fdb_latexmk
icse/sig-alternate.log
icse/sigproc-sp.aux
icse/sigproc-sp.dvi
icse/sigproc-sp.fdb_latexmk
icse/sigproc-sp.log
src/validate/output/maxdb.period.1088563753.boxplot.xml
src/validate/output/maxdb.period.1088563753.boxplot.xml.dat
src/validate/output/maxdb.period.1088563753.boxplot.xml.plot
src/validate/output/maxdb.period.1088563753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1088563753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1088563753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1088563753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1088563753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1088563753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1091155753.boxplot.xml
src/validate/output/maxdb.period.1091155753.boxplot.xml.dat
src/validate/output/maxdb.period.1091155753.boxplot.xml.plot
src/validate/output/maxdb.period.1091155753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1091155753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1091155753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1091155753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1091155753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1091155753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1093747753.boxplot.xml
src/validate/output/maxdb.period.1093747753.boxplot.xml.dat
src/validate/output/maxdb.period.1093747753.boxplot.xml.plot
src/validate/output/maxdb.period.1093747753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1093747753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1093747753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1093747753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1093747753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1093747753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1096339753.boxplot.xml
src/validate/output/maxdb.period.1096339753.boxplot.xml.dat
src/validate/output/maxdb.period.1096339753.boxplot.xml.plot
src/validate/output/maxdb.period.1096339753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1096339753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1096339753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1096339753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1096339753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1096339753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1098931753.boxplot.xml
src/validate/output/maxdb.period.1098931753.boxplot.xml.dat
src/validate/output/maxdb.period.1098931753.boxplot.xml.plot
src/validate/output/maxdb.period.1098931753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1098931753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1098931753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1098931753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1098931753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1098931753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1101523753.boxplot.xml
src/validate/output/maxdb.period.1101523753.boxplot.xml.dat
src/validate/output/maxdb.period.1101523753.boxplot.xml.plot
src/validate/output/maxdb.period.1101523753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1101523753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1101523753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1101523753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1101523753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1101523753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1104115753.boxplot.xml
src/validate/output/maxdb.period.1104115753.boxplot.xml.dat
src/validate/output/maxdb.period.1104115753.boxplot.xml.plot
src/validate/output/maxdb.period.1104115753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1104115753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1104115753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1104115753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1104115753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1104115753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1106707753.boxplot.xml
src/validate/output/maxdb.period.1106707753.boxplot.xml.dat
src/validate/output/maxdb.period.1106707753.boxplot.xml.plot
src/validate/output/maxdb.period.1106707753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1106707753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1106707753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1106707753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1106707753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1106707753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1119667753.boxplot.xml
src/validate/output/maxdb.period.1119667753.boxplot.xml.dat
src/validate/output/maxdb.period.1119667753.boxplot.xml.plot
src/validate/output/maxdb.period.1119667753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1119667753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1119667753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1119667753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1119667753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1119667753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1122259753.boxplot.xml
src/validate/output/maxdb.period.1122259753.boxplot.xml.dat
src/validate/output/maxdb.period.1122259753.boxplot.xml.plot
src/validate/output/maxdb.period.1122259753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1122259753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1122259753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1122259753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1122259753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1122259753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1124851753.boxplot.xml
src/validate/output/maxdb.period.1124851753.boxplot.xml.dat
src/validate/output/maxdb.period.1124851753.boxplot.xml.plot
src/validate/output/maxdb.period.1124851753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1124851753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1124851753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1124851753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1124851753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1124851753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1130035753.boxplot.xml
src/validate/output/maxdb.period.1130035753.boxplot.xml.dat
src/validate/output/maxdb.period.1130035753.boxplot.xml.plot
src/validate/output/maxdb.period.1130035753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1130035753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1130035753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1130035753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1130035753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1130035753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1132627753.boxplot.xml
src/validate/output/maxdb.period.1132627753.boxplot.xml.dat
src/validate/output/maxdb.period.1132627753.boxplot.xml.plot
src/validate/output/maxdb.period.1132627753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1132627753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1132627753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1132627753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1132627753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1132627753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1135219753.boxplot.xml
src/validate/output/maxdb.period.1135219753.boxplot.xml.dat
src/validate/output/maxdb.period.1135219753.boxplot.xml.plot
src/validate/output/maxdb.period.1135219753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1135219753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1135219753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1135219753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1135219753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1135219753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1137811753.boxplot.xml
src/validate/output/maxdb.period.1137811753.boxplot.xml.dat
src/validate/output/maxdb.period.1137811753.boxplot.xml.plot
src/validate/output/maxdb.period.1137811753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1137811753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1137811753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1137811753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1137811753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1137811753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1140403753.boxplot.xml
src/validate/output/maxdb.period.1140403753.boxplot.xml.dat
src/validate/output/maxdb.period.1140403753.boxplot.xml.plot
src/validate/output/maxdb.period.1140403753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1140403753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1140403753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1140403753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1140403753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1140403753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1142995753.boxplot.xml
src/validate/output/maxdb.period.1142995753.boxplot.xml.dat
src/validate/output/maxdb.period.1142995753.boxplot.xml.plot
src/validate/output/maxdb.period.1142995753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1142995753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1142995753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1142995753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1142995753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1142995753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1145587753.boxplot.xml
src/validate/output/maxdb.period.1145587753.boxplot.xml.dat
src/validate/output/maxdb.period.1145587753.boxplot.xml.plot
src/validate/output/maxdb.period.1145587753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1145587753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1145587753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1145587753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1145587753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1145587753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1148179753.boxplot.xml
src/validate/output/maxdb.period.1148179753.boxplot.xml.dat
src/validate/output/maxdb.period.1148179753.boxplot.xml.plot
src/validate/output/maxdb.period.1148179753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1148179753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1148179753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1148179753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1148179753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1148179753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.period.1150771753.boxplot.xml
src/validate/output/maxdb.period.1150771753.boxplot.xml.dat
src/validate/output/maxdb.period.1150771753.boxplot.xml.plot
src/validate/output/maxdb.period.1150771753.boxplot.xml.prop.dat
src/validate/output/maxdb.period.1150771753.boxplot.xml.prop.plot
src/validate/output/maxdb.period.1150771753.boxplot.xml.transpose.dat
src/validate/output/maxdb.period.1150771753.boxplot.xml.transpose.plot
src/validate/output/maxdb.period.1150771753.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.period.1150771753.boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.stacked_boxplot.xml
src/validate/output/maxdb.stacked_boxplot.xml.dat
src/validate/output/maxdb.stacked_boxplot.xml.plot
src/validate/output/maxdb.stacked_boxplot.xml.prop.dat
src/validate/output/maxdb.stacked_boxplot.xml.prop.plot
src/validate/output/maxdb.stacked_boxplot.xml.transpose.dat
src/validate/output/maxdb.stacked_boxplot.xml.transpose.plot
src/validate/output/maxdb.stacked_boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.stacked_boxplot.xml.transpose.prop.plot
src/validate/output/maxdb.total.boxplot.xml
src/validate/output/maxdb.total.boxplot.xml.dat
src/validate/output/maxdb.total.boxplot.xml.plot
src/validate/output/maxdb.total.boxplot.xml.prop.dat
src/validate/output/maxdb.total.boxplot.xml.prop.plot
src/validate/output/maxdb.total.boxplot.xml.transpose.dat
src/validate/output/maxdb.total.boxplot.xml.transpose.plot
src/validate/output/maxdb.total.boxplot.xml.transpose.prop.dat
src/validate/output/maxdb.total.boxplot.xml.transpose.prop.plot
src/validate/output/mysql.period.1001387404.boxplot.xml
src/validate/output/mysql.period.1003979404.boxplot.xml
src/validate/output/mysql.period.1006571404.boxplot.xml
src/validate/output/mysql.period.1009163404.boxplot.xml
src/validate/output/mysql.period.1011755404.boxplot.xml
src/validate/output/mysql.period.1014347404.boxplot.xml
src/validate/output/mysql.period.1016939404.boxplot.xml
src/validate/output/mysql.period.1019531404.boxplot.xml
src/validate/output/mysql.period.1022123404.boxplot.xml
src/validate/output/mysql.period.1024715404.boxplot.xml
src/validate/output/mysql.period.1027307404.boxplot.xml
src/validate/output/mysql.period.1029899404.boxplot.xml
src/validate/output/mysql.period.1032491404.boxplot.xml
src/validate/output/mysql.period.1035083404.boxplot.xml
src/validate/output/mysql.period.1037675404.boxplot.xml
src/validate/output/mysql.period.1040267404.boxplot.xml
src/validate/output/mysql.period.1042859404.boxplot.xml
src/validate/output/mysql.period.1045451404.boxplot.xml
src/validate/output/mysql.period.1048043404.boxplot.xml
src/validate/output/mysql.period.1050635404.boxplot.xml
src/validate/output/mysql.period.1053227404.boxplot.xml
src/validate/output/mysql.period.1055819404.boxplot.xml
src/validate/output/mysql.period.1058411404.boxplot.xml
src/validate/output/mysql.period.1061003404.boxplot.xml
src/validate/output/mysql.period.1063595404.boxplot.xml
src/validate/output/mysql.period.1066187404.boxplot.xml
src/validate/output/mysql.period.1068779404.boxplot.xml
src/validate/output/mysql.period.1071371404.boxplot.xml
src/validate/output/mysql.period.1073963404.boxplot.xml
src/validate/output/mysql.period.1076555404.boxplot.xml
src/validate/output/mysql.period.1079147404.boxplot.xml
src/validate/output/mysql.period.1081739404.boxplot.xml
src/validate/output/mysql.period.1084331404.boxplot.xml
src/validate/output/mysql.period.1086923404.boxplot.xml
src/validate/output/mysql.period.1089515404.boxplot.xml
src/validate/output/mysql.period.1092107404.boxplot.xml
src/validate/output/mysql.period.965099404.boxplot.xml
src/validate/output/mysql.period.967691404.boxplot.xml
src/validate/output/mysql.period.970283404.boxplot.xml
src/validate/output/mysql.period.972875404.boxplot.xml
src/validate/output/mysql.period.975467404.boxplot.xml
src/validate/output/mysql.period.978059404.boxplot.xml
src/validate/output/mysql.period.980651404.boxplot.xml
src/validate/output/mysql.period.983243404.boxplot.xml
src/validate/output/mysql.period.985835404.boxplot.xml
src/validate/output/mysql.period.988427404.boxplot.xml
src/validate/output/mysql.period.991019404.boxplot.xml
src/validate/output/mysql.period.993611404.boxplot.xml
src/validate/output/mysql.period.996203404.boxplot.xml
src/validate/output/mysql.period.998795404.boxplot.xml
src/validate/output/mysql.stacked_boxplot.xml
src/validate/output/mysql.total.boxplot.xml
icsm09/.picasa.ini
icsm09/presentation/.picasa.ini
presentation-icsm/.picasa.ini
presentation-icsm/prototype/.picasa.ini
weka-report.zip
icpc/fse.tmproj
icpc/hindle-fse2010.pdf
icpc/icpc2010-pre.pdf
icse/acm_proc_article-sp.cls
icse/auto/icse2011.el
icse/icse2011.pdf
icse/maxdb-time-smear-plot-Equal.xcf
icse/mysql-time-smear-plot-Equal.xcf
icse/process-model.graffle
icse/roc-unsup-pretty (Autosaved).ograph
icse/roc-unsup-pretty.ograph
icse/sig-alternate.tex
icse/sigproc-sp.tex
icse/.#icse2011.tex
icse/auto/icpc.el
icse/icse2011 (ontogeny's conflicted copy 2010-08-13) (ontogeny's conflicted copy 2010-08-13).out
icse/icse2011 (ontogeny's conflicted copy 2010-08-13).log
icse/icse2011 (ontogeny's conflicted copy 2010-08-13).out
icse/maxdb-supervised.ograph
icse/multi-label-results-maxdb.ograph
icse/multi-label-results-mysql.ograph
icse/multi-label-results.ograph
icse/mysql-supervised.ograph
icse/unsupervised-bar.ograph
secret.pdf
olfinput.csv
icse/icse2011.rel
src/validate/colormaps.png
icse/figures/maxdb-supervised.ograph
icse/figures/maxdb-time-smear-plot-Equal.xcf
icse/figures/multi-label-results-maxdb (Autosaved).ograph
icse/figures/multi-label-results-maxdb.ograph
icse/figures/multi-label-results-mysql (Autosaved).ograph
icse/figures/multi-label-results-mysql.ograph
icse/figures/multi-label-results.ograph
icse/figures/mysql-supervised.ograph
icse/figures/mysql-time-smear-plot-Equal.xcf
icse/figures/process-model.graffle
icse/figures/roc-unsup-pretty.ograph
icse/figures/unsupervised-bar.ograph
icse/label-summary.csv
src/validate/output/maxdb-timeline.pdf
src/validate/output/mysql-timeline.pdf
icse/icse2011 (ontogeny's conflicted copy 2010-08-20).aux
icse/icse2011 (ontogeny's conflicted copy 2010-08-20).log
icse/icse2011 (ontogeny's conflicted copy 2010-08-20).out
icse/figures/both-supervised (Autosaved).ograph
icse/figures/both-supervised.ograph
icse/figures/mysql-supervised (Autosaved).ograph
/msr/msr2011.bbl
/msr/msr2011.blg
/msr/#icpc.bib#
/msr/.#icpc.bib
/msr/#notes-neil.txt#
/msr/.#notes-neil.txt
